.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 500px;
  width: 100%;
}
@media (max-width: 610px) {
  .mySwiper2 {
    height: 80%;
    width: 100%;
  }
  .mySwiper img {
    width: 50px;
    height: 50px;
    object-fit: cover;
  }
  .mySwiper .swiper-wrapper{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 4px;
    overflow: scroll;
  }
  .mySwiper .swiper-wrapper::-webkit-scrollbar {
    width: 12px;
  }
  .mySwiper .swiper-wrapper .swiper-slide {
    width: 18% !important;
    height: 100%;
    opacity: 0.4;
    margin: 0 2px;
  }
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px;
}


.mySwiper .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  max-width: 500px;
  height: 100%;
  object-fit: cover;
}

.see-more {
  background: rgb(207,200,200);
background: linear-gradient(180deg, rgba(207,200,200,1) 0%, rgba(252,252,252,1) 45%, rgba(255,255,255,1) 100%);
}